<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Real Time Map Demo</span>
    <span class="spacer"></span>
    <button mat-button routerLink="metros" routerLinkActive="mat-accent">Metros</button>
    <button mat-button routerLink="states" routerLinkActive="mat-accent">States</button>
    <button mat-button routerLink="zips" routerLinkActive="mat-accent">Zips</button>
    <button mat-button routerLink="metros2" routerLinkActive="mat-accent">Metros 2</button>
  </mat-toolbar-row>
</mat-toolbar>
