@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-pink);
$accent: mat-palette($mat-gray);
$theme: mat-dark-theme($primary,$accent);

@mixin app-theme() {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  body {
    background-color: map-get($background, background);
  }

  #loader {
    background: mat-color($background, background, 0.5);
    color: mat-color($foreground, base);
  }
}
